body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans" sans-serif;
  background-color: rgb(51, 51, 51);
  color: #ffffff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
}